@page
@model IndexModel
@{
    ViewData["Title"] = "Acasa";
}

<div class="text-center" style=" font-family:'Goudy Old Style'">
    <h1 class="display-4" style="color:blueviolet">
        <strong>
            Salon Nubia
        </strong>
    </h1>
    <p style="color:blueviolet; font-size:xx-large">

        Frumusetea si stralucirea ta se vede in sanatatea parului tau. Ca vine vorba de blondul perfect, de o culoare simpla sau un balayage, un ombre, un decapaj, de suvite multicolore vrei sa iesi in evidenta. Salonul de infrumusetare Nubia te asteapta zilnic, inclusiv dumunica.<br />
        Coafura de zi cu zi, parul tau scurt sau lung, te reprezinta si te face sa te simti speciala. Cand intri intr-o incapere parul tau si felul cum arati te face sa fii remarcata. Cu cat ti pasa mai mult de parul tau cu atat el te rasplateste cu o frumusete de invidiat.
        Nubia este un salon de top, iar specialistii in materie de hairstyling sunt pregatiti sa raspunda oricarei provocari in materie de beauty .<br />
        Pentru noi pasiunea si profesionalismul reprezinta motto-ul cu care intram si iesim din salon. Nu uita sa zambesti. De restul ne ocupam noi.

    </p>
    
</div>
<br />
<p style=" font-family:'Goudy Old Style'; font-size:x-large">
     PROGRAM <br />
     LUNI-VINERI 09:00-16:00<br />
     SAMBATA 09:00-14:00<br />
    DUMINICA DOAR PE BAZA UNEI PROGRAMARI<br />
</p>