@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politica de confidentialitate";
}
<h1>@ViewData["Title"]</h1>

<p style="font-family: 'Goudy Old Style'; color: blueviolet; font-size: x-large">
    Salonul Nubia se angajeaza sa respecte confidentialitatea datelor dvs. cu caracter personal. Vom trata toate datele personale furnizate de dvs. ca fiind confidentiale si vom prelucra numai informatiile permise de legislatia aplicabila. Aceasta nota de confidentialitate descrie politicile si practicile Salonului Nubia privind colectarea si utilizarea datelor dvs. personale si va stabileste drepturile de confidentialitate.<br />
    Confidentialitatea informatiilor este o responsabilitate permanenta si, prin urmare, vom actualiza din cand in cand aceasta notificare de confidentialitate pe masura ce vom intreprinde noi practici privind datele cu caracter personal sau vom adopta noi politici de confidentialitate. In ceea ce priveste prelucrarea datelor bazate pe consimtamant (dupa cum este descris mai jos), va vom notifica orice modificare si vom solicita consimtamantul dvs. suplimentar.
</p>
